.container{
    min-width: 300px;
    height: 100vh;
    background-image: url(./wall.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    font-size: 8rem;
    opacity: .5;
}

@media screen and (max-width:500px) {
    .clock{
        font-size: 3rem;
    }
}

