@font-face {
    font-family: 'MyWebFont';
    src: url("./digital-7.regular.ttf") format('truetype');
}

.container{
    min-width: 300px;
    height: 100vh;
    background-image: url(./wall.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    font-size: 8rem;
    opacity: .5;
    font-family: 'MyWebFont';
}

@media screen and (max-width:500px) {
    .clock{
        font-size: 3rem;
    }
}

